/* Custom styles for .section-wrapper */
.section-wrapper {
    display: flex;
    background-color: #1a2c38; /* No quotes needed */
    border-radius: 4px; /* No quotes needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* No quotes needed */
    flex-direction: column;
    max-width: 100%;
}
body {
    background-color: #1a2c38; /* Full page background color */
    color: #ffffff; /* Text color (optional for better readability) */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optional: set font style */
}
.color {
    background-color: #1a2c38; /* Matches global background */
}
/* Section Wrapper CSS */
.section-wrapper {
    display: flex;
    flex-direction: column;
    padding: -5px;
}
.section-wrapper .top {
    margin-top: -200px !important;
}
/* Button Wrapper CSS */
.hoverable {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #444444; */
    padding-top: 14px;
    padding-bottom: 12px;
    border-radius: 4px;
}
.hoverable:hover {
    background-color: #3b4a53;
    /* opacity: 20%; */
    cursor: pointer;
}

.hoverable:hover svg {
    fill: rgb(255, 255, 255) !important; /* Changes the color of the SVG */
}

/* Add hover styles */
.betterhover:hover {
    background-color: #7d0000; /* Change background color */
    color: rgb(148, 0, 0); /* Change text color */
}

/* Button Base CSS */
button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: all 0.2s ease;
}

/* button:hover {
  background-color: #444444;
  color: #000;
} */

/* SVG Icon Styling */
button svg {
    width: 16px;
    height: 16px;
    color: rgba(177, 186, 211, var(--tw-text-opacity));
}

/* Text Colors */
.text-gray-400 {
    color: #cccccc;
}

.text-gray-400:hover {
    color: #000000;
}
.transition {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background) / 1);
}
.w-11 {
    width: 2.75rem;
}
.h-11 {
    height: 2.75rem;
}
.inline-flex {
    display: inline-flex;
}
.relative {
    position: relative;
}
a,
button {
    outline: none;
}
button,
input,
select,
textarea {
    cursor: pointer;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1.5;
}
button,
a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.header-button.casino.collapsed.svelte-jby8ge {
    width: 2.75rem;
    height: 2.75rem;
    flex: unset;
    background-image: url(https://mediumrare.imgix.net/casino-poker-cards-small-en.jpg?auto=format&w=44);
}
.link-wrap.collapsed.svelte-1hoeywl {
    flex-direction: column;
    padding: var(--space-4) 0 0 0;
}
.link-wrap.svelte-1hoeywl {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    width: 100%;
}

.menu-button.svelte-1hoeywl {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 3.75rem;
    height: 3.75rem;
    border-radius: var(--radius-base);
}
a,
button {
    outline: none;
}
.header.collapsed.svelte-1hoeywl {
    flex-direction: column;
    padding: 0 0 var(--space-2) 0;
    box-shadow: none;
}
.header-button.sports.collapsed.svelte-jby8ge {
    width: 2.75rem;
    height: 2.75rem;
    flex: unset;
    background-image: url(https://mediumrare.imgix.net/sports-balls-small-en.jpg?auto=format&w=44);
}
.header-button.sports.svelte-jby8ge {
    background-image: url(https://mediumrare.imgix.net/sports-balls-en.jpg?auto=format&w=78);
}
.image-loader.svelte-jby8ge {
    position: absolute;
    width: 0;
    height: 0;
    background-image: url(https://stake.com/_app/immutable/assets/casino-poker-cards.Cn8PuVZc.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-small.BDJDxVwC.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-green.CkPznpWy.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-small-green.BxMzSaYt.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls.DXRyjHgg.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-small.BLSrblk0.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-orange.CiUCy8an.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-small-orange.D_I_dSbl.jpg);
}
/* .header-button.svelte-jby8ge {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: var(--space-9);
  border-radius: var(--radius-base);
  color: var(--white);
  font-size: var(--text-size-default);
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
} */
.image-loader.svelte-jby8ge {
    position: absolute;
    width: 0;
    height: 0;
    background-image: url(https://stake.com/_app/immutable/assets/casino-poker-cards.Cn8PuVZc.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-small.BDJDxVwC.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-green.CkPznpWy.jpg),
        url(https://stake.com/_app/immutable/assets/casino-poker-cards-small-green.BxMzSaYt.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls.DXRyjHgg.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-small.BLSrblk0.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-orange.CiUCy8an.jpg),
        url(https://stake.com/_app/immutable/assets/sports-balls-small-orange.D_I_dSbl.jpg);
}
.link-wrap.collapsed.svelte-1hoeywl {
    flex-direction: column;
    padding: var(--space-4) 0 0 0;
}

.link-wrap.svelte-1hoeywl {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    width: 100%;
}
.menu-button.collapsed.svelte-1hoeywl {
    box-shadow: var(--shadows-lg);
}

.menu-button.svelte-1hoeywl {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 3.75rem;
    height: 3.75rem;
    border-radius: var(--radius-base);
}
a,
button {
    outline: none;
}
button,
input,
select,
textarea {
    cursor: pointer;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1.5;
}
button,
a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}
.header.collapsed.svelte-1hoeywl {
    flex-direction: column;
    padding: 0 0 var(--space-2) 0;
    box-shadow: none;
}
element.style {
    --z-index: 900;
    --header-height: 60px;
    --width: 60px;
}
.sidebar.small.svelte-1qc86l4 {
    width: var(--width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar.svelte-1qc86l4 {
    word-wrap: break-word;
    position: relative;
    background: var(--grey-700);
    filter: drop-shadow(0 0 5px rgba(25, 25, 25, 0.25));
    display: flex;
    flex-direction: column;
    z-index: var(--z-index);
    flex-shrink: 0;
    height: 100%;
    will-change: margin-left;
}
.header-button.casino.collapsed.svelte-jby8ge {
    width: 2.75rem;
    height: 2.75rem;
    flex: unset;
    background-image: url(https://mediumrare.imgix.net/casino-poker-cards-small-en.jpg?auto=format&w=44);
}
.header-button.casino.svelte-jby8ge {
    background-image: url(https://mediumrare.imgix.net/casino-poker-cards-en.jpg?auto=format&w=78);
}
.header-button.svelte-jby8ge {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--space-9);
    border-radius: 5px;
    color: var(--white);
    font-size: var(--text-size-default);
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main1 {
    background-image: url('../assets/stake.BFmdy97X.svg'); /* Ensure the path is correct */
    background-repeat: no-repeat; /* No repetition of the SVG */
    background-size: contain; /* Adjust size to fit the container */
    background-position: center; /* Center the SVG */
    height: 500px; /* Set height for the div */
    width: 100%; /* Optional: Adjust width as needed */
}
body {
    background-color: #1a202c; /* Tailwind's bg-gray-900 equivalent */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/* Slider container */
.slider {
    overflow: hidden; /* Hide content overflow */
    position: relative; /* For better control */
    white-space: nowrap; /* Ensure no wrapping of content */
}

/* Slider track */
.slider-track {
    display: flex; /* Align images horizontally */
    animation: scrollAnimation 5s linear infinite; /* Infinite scroll */
}

/* Individual images */
.slider-track li {
    list-style: none; /* Remove default bullets */
    flex-shrink: 0; /* Prevent image shrinkage */
}

.slider-track img {
    display: block;
    margin: 0 50px; /* Add spacing between images */
}

/* Animation keyframes */
@keyframes scrollAnimation {
    0% {
        transform: translateX(0); /* Start position */
    }
    100% {
        transform: translateX(-50%); /* Move half the width */
    }
}

/* Custom animation properties */
.slider-track {
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scrollAnimation;
    animation-timeline: auto;
}

.gradient-border.svelte-n9audu {
    --degrees: 0deg;
    --percentage: 50%;
    background: radial-gradient(
                circle at 100% 100%,
                var(--grey-500) 0,
                var(--grey-500) 14px,
                transparent 14px
            )
            0% 0% / 17px 17px no-repeat,
        radial-gradient(
                circle at 0 100%,
                var(--grey-500) 0,
                var(--grey-500) 14px,
                transparent 14px
            )
            100% 0% / 17px 17px no-repeat,
        radial-gradient(
                circle at 100% 0,
                var(--grey-500) 0,
                var(--grey-500) 14px,
                transparent 14px
            )
            0% 100% / 17px 17px no-repeat,
        radial-gradient(
                circle at 0 0,
                var(--grey-500) 0,
                var(--grey-500) 14px,
                transparent 14px
            )
            100% 100% / 17px 17px no-repeat,
        linear-gradient(var(--grey-500), var(--grey-500)) 50% 50% /
            calc(100% - 4px) calc(100% - 32px) no-repeat,
        linear-gradient(var(--grey-500), var(--grey-500)) 50% 50% /
            calc(100% - 32px) calc(100% - 4px) no-repeat,
        linear-gradient(
            var(--degrees),
            transparent var(--percentage),
            var(--border-color) 100%
        );
    transition: transform 0.3s ease;
    border-radius: 16px;
    padding: 2px;
    box-sizing: border-box;
}

.banner2 {
    background-image: url('../assets/blue-gradient.U5jrOHhx.svg'); /* Ensure the path is correct */
    background-repeat: no-repeat; /* No repetition of the SVG */

    box-sizing: border-box; /* Ensure padding is included within the width */
    border-radius: 15px !important;
}
.banner3 {
    background-image: url('../assets/green-gradient.B1xn5Pix.svg'); /* Ensure the path is correct */
    background-repeat: no-repeat; /* No repetition of the SVG */
    width: 100%; /* Ensure the width takes up the full container */
    border-radius: 15px !important;

    box-sizing: border-box; /* Ensure padding is included within the width */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}
@media (min-width: 640px) {
    .oauth.svelte-1mpap2m .oauth {
        display: flex;
    }
}
.oauth.svelte-1mpap2m .oauth {
    display: grid;
    flex: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;
}
.oauth.svelte-qhfv7k.svelte-qhfv7k {
    display: flex;
    gap: var(--space-4);
    justify-content: center;
}
@media (min-width: 640px) {
    .oauth.svelte-1mpap2m .oauth button {
        width: auto;
    }
}
.oauth.svelte-1mpap2m .oauth button {
    width: 100%;
    padding: 0.75rem;
}
.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background) / 1);
}

.py-\[0\.8125rem\] {
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
}
.px-\[1rem\] {
    padding-left: 1rem;
    padding-right: 1rem;
}
.bg-grey-400 {
    --tw-bg-opacity: 1;
    background-color: #3b4a53;
}
a,
button {
    outline: none;
}
/* Media Query for Width Adjustment on Medium Screens */
@media (min-width: 768px) {
    .md\:w-auto {
        width: auto;
    }

    .md\:mt-4 {
        margin-top: 1rem;
    }
}

/* Transition Utility Class */
.transition {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.play-bar-progress.svelte-1eaiccx {
    background: linear-gradient(90deg, #213743, #0079ff);
}
.play-bar.svelte-1eaiccx {
    visibility: hidden;
}
.ease-linear {
    transition-timing-function: linear;
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(20, 117, 225, var(--tw-bg-opacity));
}
.w-0 {
    width: 0px;
}
.h-full {
    height: 100%;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.absolute {
    position: absolute;
}
